
:root { 
	--paper-tab-ink: var(--paper-blue-900); 
	--paper-tabs-selection-bar-color: var(--paper-blue-900);
}

/*
code { 
	white-space: pre; 
}
*/

.customPre {
	background: lightGray;
	padding: 10px;
}

.moreLinkStyle {
	cursor: pointer;
	background: lightGray;
	padding: 4px;
}
     
.ace-edit-panel { 
	margin-top: 10px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 200px;
}
  
.vert-space {
	display: block;
	height: .5em;
}

@font-face {
	font-family: 'open_sansregular';
	src: url('/font/opensans-regular-webfont.eot');
	src: url('/font/opensans-regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('/font/opensans-regular-webfont.woff') format('woff'),
		url('/font/opensans-regular-webfont.ttf') format('truetype'),
		url('/font/opensans-regular-webfont.svg#open_sansregular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

.meta64-menu-heading {
	cursor: pointer;
}

.mainNodeContentStyle {
	/*
	margin-top: 15px;
	margin-bottom: 15px;
	*/
	background-color: lightGray;
}

.propertyEditListItem {
	padding-left: 18px;
}

.propertyEditListItemHidden {
	padding-left: 18px;
	display: none;
}

body {
	font-family: Roboto, open_sansregular, Tahoma, Verdana, Arial;
}

tr td div p {
	margin: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
}

.content-area {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.close-account-bar {
	margin-top: 100px;
	margin-left: 16px;
}

.page-top-button-bar {
	margin-top: 0;
}

.property-edit-button-bar {
	margin-top: 0;
}

.property-edit-field {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 16px;
	padding-right: 16px;
}

.property-edit-field:nth-child(odd) {
	background: #efefef;
}

.property-edit-field:nth-child(even) {
	background: #dedede;
}

.compact-field-contain {
	margin-bottom: 0;
	margin-left: 10px;
}

.dialog-message {
	width: 400px;
}

.dialog-header {
	/* for now i'll go with dialog headers that are just basic H2 style
	background: lightGray;
	padding: 4px;
	margin-left: 24px;
	margin-right: 24px;
	*/
}

.dialog-content {
}

.created-by-me {
	background: green;
	color: white;
	padding: 4px;
	margin-top: 2px;
}

.created-by-other {
	background: lightGray;
	padding: 4px;
	margin-top: 2px;
}

.path-display {
	margin-bottom: 4px;
	overflow-x: auto;
	white-space: nowrap;
}

.captcha-image {
	text-align: center;
}

.page-node-header {
	border-left: 10px solid transparent;
}

.header-text {
	font-size: small;
	margin-left: 16px;
	padding-top: 10px;
}

.captcha {
	margin-top: 20px;
	border: 1px solid black;
}

.privilege-list {
	background: lightGray;
}

.binary-link {
}

.privilege-entry {
	margin: 15px;
	padding: 10px;
	background: lightGray;
	border-left: 4px solid gray;
}

.jcr-content {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 1em;
	/* we limit page width of text content, because text that goes to wide 
		becomes difficult to read.
	*/
	max-width: 800px;
}

.jcr-root-content {
	margin-top: 8px;
	margin-bottom: 10px;
	margin-left: 1em;
	/* we limit page width of text content, because text that goes to wide 
		becomes difficult to read.
	*/
	
	/*
	padding-top: 8px;
	padding-bottom: 8px;
	*/
	max-width: 800px;
	background: lightGray;
}

.tags-content {
	margin-left: 1em;
	/* we limit page width of text content, because text that goes to wide 
		becomes difficult to read.
	*/
	border: 1px dotted lightGray;
	max-width: 800px;
	background: #f9e79f;
}

.corner-style {
	position: absolute;
    top: 0px;
    right: 0px;
}

.property-table {
	margin-left: 1em;
}

.prop-table-row {
	width: 100%;
}

.prop-table-name-col {
	width: 25%;
}

.prop-table-val-col {
	width: 70%;
}

.prop-table {
	width: 100%;
}

.path-display-in-editor {
	font-weight: bold;
	overflow-x: auto;
	white-space: nowrap;
}

.node-table-row {
	position: relative;
	border-bottom: 6px solid #d6d6d6;
	padding-right: 1.5em;
}

.page-parent-node {
	background: #ededed;
	padding-top: 10px;
}

.node-table-row .top-right-image {
	position: absolute;
	top: 0px;
	right: 0px;
}

.my-container img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	opacity: 0.6;
}

.active-row {
	border-left: 10px solid red;
}

.inactive-row {
	border-left: 10px solid transparent;
}

.property-column {
	width: 20%;
}

.value-column {
	width: 80%;
}

.modelessDialog {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
}

.mainNodeContent {
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: lightGray;
        border: 1px solid green;
}

.nav {
	border-right: 1px solid #ccc;
}

.main {
	background-color: #eee;
}

/*
.content {
	height: 3000px;
}
*/

.my-menu-section /* paper-item */ {
	padding-left: 30px;
	background-color: white;
	color: black;
}

.meta64-menu-heading /* paper-submenu */ {
	background-color: lightGray;
	color: black;
}
                         
.page-title { @apply (--paper-font-display2);	
}

@media ( max-width : 600px) {
	.page-title {
		font-size: 24px !important;
	}
}
