.vert-space {
	display: block;
	height: .5em;
}

@font-face {
	font-family: 'open_sansregular';
	src: url('/font/opensans-regular-webfont.eot');
	src: url('/font/opensans-regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('/font/opensans-regular-webfont.woff') format('woff'),
		url('/font/opensans-regular-webfont.ttf') format('truetype'),
		url('/font/opensans-regular-webfont.svg#open_sansregular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

.mainNodeContentStyle {
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: lightGray;
}

.genericListItem {
	padding-left: 15px;
	margin-top: 10px;
    margin-bottom: 10px;
    border-left: 10px solid lightGray;
}

body {
	font-family: Roboto, open_sansregular, Tahoma, Verdana, Arial;
}

tr td div p {
	margin: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
}

.content-area {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.close-account-bar {
	margin-top: 100px;
	margin-left: 16px;
}

.page-top-button-bar {
	margin-top: 0;
}

.property-edit-button-bar {
	margin-top: 0;
}

.property-edit-field {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 16px;
	padding-right: 16px;
}

.property-edit-field:nth-child(odd) {
	background: #efefef;
}

.property-edit-field:nth-child(even) {
	background: #dedede;
}

.compact-field-contain {
	margin-bottom: 0;
	margin-left: 10px;
}

.dialog-content {
}

.created-by-me {
	background: green;
	color: white;
	padding: 4px;
	margin-top: 2px;
}

.created-by-other {
	background: lightGray;
	padding: 4px;
	margin-top: 2px;
}

.path-display {
	margin-bottom: 4px;
}

.captcha-image {
	text-align: center;
}

.donations {
	text-align: center;
}

.donate-back-button {
	margin: 3em;
}

.page-node-header {
	border-left: 10px solid transparent;
}

.header-text {
	font-size: small;
	margin-left: 16px;
	padding: 10px;
}

.captcha {
	margin-top: 20px;
	border: 1px solid black;
}

.privilege-list {
	background: lightGray;
}

.binary-link {
}

.privilege-entry {
	margin: 15px;
	padding: 10px;
	background: lightGray;
	border-left: 4px solid gray;
}

.jcr-content {
	margin-left: 1em;
	/* we limit page width of text content, because text that goes to wide 
		becomes difficult to read.
	*/
	max-width: 800px;
}

.jcr-root-content {
	margin-left: 1em;
	/* we limit page width of text content, because text that goes to wide 
		becomes difficult to read.
	*/
	max-width: 800px;
	background: lightGray;
}

.tags-content {
	margin-left: 1em;
	/* we limit page width of text content, because text that goes to wide 
		becomes difficult to read.
	*/
	border: 1px dotted lightGray;
	max-width: 800px;
}

.corner-style {
	position: absolute;
    top: 0px;
    right: 0px;
}

.property-text {
	margin-left: 1em;
}

.prop-table-row {
	border-bottom: 1px solid #d6d6d6;
	width: 100%;
}

.prop-table-name-col {
	border-right: 1px solid gray;
	/*
	margin: 0px;
	paddign: 0px;
	border: 1px solid red;
	*/
	width: 25%;
}

.prop-table-val-col {
	/*
	margin: 0px;
	paddign: 0px;
	border: 1px solid green;
	*/
	width: 70%;
}

.prop-table {
	/* border: 1px solid gray; */
	width: 100%;
}

.path-display-in-editor {
	font-weight: bold;
}

.node-table-row {
	position: relative;
	border-bottom: 6px solid #d6d6d6;
	padding-right: 1.5em;
}

.page-parent-node {
	background: #ededed;
	padding-top: 10px;
}

.node-table-row .top-right-image {
	position: absolute;
	top: 0px;
	right: 0px;
}

.my-container img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	opacity: 0.6;
}

.active-row {
	border-left: 10px solid red;
}

.inactive-row {
	border-left: 10px solid transparent;
}

.property-column {
	width: 20%;
}

.value-column {
	width: 80%;
}

