/* Since the LESS process or will badly malfunction on some kinds of styles (like the 'calc' functio below) we have this special
css file that must be included that is NOT LESS 
*/
.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; 
}
